[tool.poetry]
name = "screen"
version = "0.1.0"
description = "SCREEN: A tool to build legacy well representations on reservoir simulation grids"
authors = ["Your Name <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
jsonpickle = "^3.0.2"
PyYAML = "^6.0.1"
pydantic = "^2.5.2"
numpy = "1.24.4"
pandas = "2.0.3"
scipy = "1.10.1"
ecl = "^2.14.5"
CoolProp = "^6.5.0.post1"
welly = "^0.5.2"


[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"
jupyterlab = "^4.0.9"
jupyter-dash = "^0.4.2"
ipympl = "^0.9.3"


[tool.poetry.group.docs.dependencies]
mkdocs = "^1.5.3"
mkdocstrings = {extras = ["python"], version = "^0.24.0"}
mkdocs-material = "^9.4.14"
mkdocs-autorefs = "^0.5.0"
markdown-callouts = "^0.3.0"


[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
ruff = "^0.1.6"


[tool.poetry.group.dash.dependencies]
dash = "^2.14.1"
pyarrow = "^14.0.1"
fastparquet = "^2023.10.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
