jsonpickle
pyyaml
pydantic
numpy
pandas
scipy
ecl
CoolProp
welly
pytest
pytest-cov
dash
jupyter
jupyterlab
jupyter-dash
ipympl
mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-autorefs
markdown-callouts
