jsonpickle
pyyaml
pydantic
numpy
pandas
scipy
ecl
CoolProp
welly
dash
pyarrow
fastparquet
pytest
pytest-cov
ruff
jupyter
jupyterlab
jupyter-dash
ipympl
mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-autorefs
markdown-callouts
jupyter-server>=2.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
