jsonpickle
pyyaml
pydantic
numpy
pandas
scipy
ecl
CoolProp
welly
dash
pyarrow
fastparquet
pytest
pytest-cov
ruff
jupyter
jupyterlab
jupyter-dash
ipympl
mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-autorefs
markdown-callouts
